h1 {
  font-weight: 700;
  font-size: 40px;
}

input {
  width: 80%;
}

.item-container {
  text-align: left;
}

.row-1 {
  margin: 15px;
}

.todo-container {
  width: 50%;
  margin: auto;
}

.btn-1 {
  min-width: 90px;
}